
body {
    margin: 0px auto;
    background-image: url('../../images/protruding-squares.svg');

} 
.secondBody {
    flex: 1 1 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}