.videogamesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: minmax(28rem, auto);
}

@media (max-width: 600px) {
    .videogamesContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-auto-rows: minmax(28rem, auto);
    }
}
@media (max-width: 900px) {
    .videogamesContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        grid-auto-rows: minmax(24rem, auto);
    }
}
@media (max-width: 1420px) {
    .videogamesContainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-auto-rows: minmax(26rem, auto);
    }
}