.background {
    background-image: url("../../images/Resting.png");
    background-position:bottom;
    background-color: #464646;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
}

.container {
    color: black;
    display:flex;
    justify-content: center;
}

.container h1 {
    font-size: 3.5vh;
    position: absolute;
    top: 15%;
}