.videogameItem {
    justify-content: center;
    margin: 1rem;
    border: 3px solid rgb(24, 24, 24);
    background-color:var(--background-color);
    color: var(--rajah);
    grid-row: auto / auto
}
.img{
    width: 100%;
}