.videogameItem {
    width: 50%;
    margin: 5%;
    border: 3px solid var(--border-color);
    border-radius: 15px;
    background-color:var(--background-color);
    color: var(--rajah);
    object-fit: contain;
}
.img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}