.videogameItem {
    min-width: 40%;
    max-height: 90%;
    border: 3px solid var(--border-color);
    border-radius: 15px;
    background-color:var(--background-color);
    color: var(--rajah);
    object-fit: contain;
    max-width: 90%;
}
.img{
    max-width: 70%;
}