.paginatedWrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 1fr;
}

.button{
    align-self: center;
    justify-self: center;
    margin: 30px;
    color: #ffffff;
    border-color: #494ca2;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    padding: 10px;
    border-radius: 25px;
}

.button:hover{
    cursor: pointer;
}
