.wrapper {
    width: 100%;
    height: 100vh;
}

.title {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(11, 12, 12, 0.574);
}

.container {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.formularioContainer {
    display: grid;
    height:75%;
    grid-area: 1 / 1 / 4 / 3;
    width: 75%;
    align-self: center;
    justify-self: center;
    background-color: var(--background-color);
    border: 4px solid var(--border-color);
    border-radius: 15px;
    grid-template-columns: 1fr 1fr;
}

.videogameCreateCard{
    display:flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 3 / 3 / 4;
    width: 100%;
}

.videogameValidateCard{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: 3 / 3 / 4 / 4; 
}

.mainForm{
    margin: 15px;
    display: grid;
    text-align: start;
}

.genresContainer{
    grid-area: 2 / 1 / 4 / 2;
}

.checkboxes{
    margin: 10px;
    height: 80%;
    display: flex;
    flex-wrap:wrap;
}

.submit {
    padding: 7px;
    width: 80px;
    font-size: 15px;
    margin-right: 8px;
    border-radius: 40px;
    background-color: #ccc;
    transition: all .2s;
    cursor:pointer
}

.submit:hover{
    transition: all .2s;
    background-color: cornsilk;
    color:black;
} 


@media (max-width: 900px){
    .container{
        display:flex;
        flex-direction: row;
    }
}