.DiscoverPageHeaderWrapper {
    display: flex;
    background-color: rgba(11, 12, 12, 0.574);
    height: 130px;
    justify-content: space-between;
}

.search{
    flex-grow: 1;
    align-self: center;
    justify-self: start;
    text-align: start;
    padding-left: 40px;
}

.DiscoverPageHeaderWrapper h1{
    color: aqua;
    margin: 0px;
    font-size: 72px;
}

.filters{
    display:flex;
    justify-content: center;
    width: 400px;
    flex-wrap: wrap;

}

.filters h2{
    margin: 0px;
    display:flex;
    justify-content: center;
    width: 100%;
}