.navWrapper {
    background-color: var(--background-color);
}

.nav {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    padding: 20px;
    height: 95px;
}

.iconContainer{
    margin-right: 10px;
}

.icon{
    width:100%;
    height: 100%;
}

.icon:hover{
    cursor: pointer;
}

.searchbarForm {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display:grid;
}
.searchbar {
    display: inline-grid;
    padding: 8px;
    font-size: 15px;
    border-radius: 40px;
    transition: all .2s;
    width: 98%;
}

.searchbar:focus{
    transition: all .2s;
    background-color: cornsilk;
    color:black;
}

.aboutWrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}
 
.about{
    color: #ffffff;
    border-color: #494ca2;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    text-decoration: none;
}
.about:hover{
    cursor: pointer;
}

.linkedin{
    color: #ffffff;
    border-color: #494ca2;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    width: 80%;
}
.linkedin:hover{
    cursor: pointer;
}